@font-face {
    font-family: 'DNY';
    src: url(../fonts/BlackWidowMovie-d95Rg.ttf), url(fonts\WhiteDreamPersonalUseOnlyRegular-L37Rn.otf);
}


.body{

    margin: 0; background-color:rgb(216, 216, 216);
}

.navbar{

    width: 100%;
    height: 80px;
    background-color: rgb(0, 119, 255);
    

}

.logo{

    height: 80px;
    top: 0;
    width: 25%;
    
}

.expo{

    font-family: 'DNY';
    color: #ffff;
    font-size: 50px;
    line-height: 80px;
    padding: 0 40px;

}

.expo_card{

    font-family: 'DNY';
    color: rgb(110, 110, 110);
    font-size: 40px;
    line-height: 80px;
    margin: 0 20px;
    

}


/*box principal*/

.box-principal{

    width: 60%;
    height: 700px;
    background-color: rgb(0, 119, 255);
    margin-left: 20%;
    margin-top: 5%;
    border-radius: 15px;
    position: relative;

}


/*box container do conteudo*/
.text-area{

    width: 60%;
    height: 90%;
    vertical-align: top;
    display: inline-block;
    background-color: #ffff;
    margin-left: 2%;
    margin-top: 3%;

}

/*campo para texto que sera gerado o qr-code*/
#txtinput{

    
    margin-top: 5%;
    width: 90%;
    height: 40%;
    margin-left: 5%;
    border: none;
    text-align: center;
    outline: 0;
    text-align: center;
    font-size: 35px;
    background-color: rgb(238, 238, 238);
    max-height: 501px;
    max-width: 631px;
    min-width: 90%;
    min-height: 40%;
    
    
}

#txtinput::placeholder{

    font-size: 26px!important;
    font-weight: 700!important;
}



/*box divisão direita no interior do box principal*/
.qr_image_dowload{

    width: 36%;
    height: 90%;
    background-color: #ffff;
    display: inline-block;
    margin-top: 3%;

}

/*imagem retornada da requisição API Google*/
#QRCodeImage{

    position: absolute;

}

.bttn-gerar{

    width: 90%;
    margin-left: 5%;
    height: 10%;
    background-color: rgb(0, 140, 255);
    border: none;
    border-radius: 2%;
    cursor: pointer;
    color: #ffff;
    font-size: 25px;

}

.bttn-gerar:hover{

    background-color: rgb(43, 86, 121);
    
}


/*texto utilizado para gerar qr-code*/
#txtQrcode{

    font-family: 'Lato', sans-serif;
    font-size: 60px;
   
}

/*box alinhamento componentes dados*/
.imgQR{

    margin-top: 2%;
    margin-left: 12%;
}

.txtQRcode{

    margin-top: 12%;
    width: 100%;
    text-align: center;
}


/*botão que gerará o qr-code do box dados*/
.bttnPDF{

   margin-left: 15%;
}


/*Box com icones e links das redes sociais*/
.media{
    
    height:30%;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    
    
} 

#lin{

    margin-top: 10%;
    width: 100%;

}


#icons{

    position:absolute;
    margin-top: 2%;
    width: 50%;
   
}

#icons a{

    margin-left: 10%;
}

/*link curiosidade*/
#signi_qrcode{

    font-size: 20px;
    font-family: 'Tiro Telugu', serif;

}

#signi_qrcode::before{

    color: red;
}

#conect{

    font-size: 20px;
    font-family: Fantasy;
    color: rgb(134, 134, 134);
}


/*icone impressora*/


.div_icon{

    display: inline-block;
    width: 36%;

}

.icon_impressora{

    margin-left: 50%;
    margin-top: 2%;
    cursor: pointer;
    
}


/*estilização PDF*/
.print{

    width: 50%;
    height: 500px;
    margin-top: 3%;
    border-radius: 5px;

}

#Expo_print{

    font-family: 'DNY';
    color: rgb(110, 110, 110);
    font-size: 40px;
    line-height: 80px;
    margin: 0 10px;

}

#Txt_print{
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    color: #ffff;

}

#img_print{

    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#img_pdf{

    display:flex;
    display: -webkit-flex; /* Garante compatibilidade com navegador Safari. */
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

@media print{

    .print{
        display: block;
        background-color: rgb(197, 197, 197);
    }

    .container{
        display: none;
    }

    .body{
        background-color: #ffff;
    }
}




/*otimização para mobile*/
@media screen and (max-width:600px){
    
    
.navbar{

    width: 100%;
    height: 50px;
    background-color: rgb(0, 119, 255);
    
}

.logo{

    height: 50px;
    top: 0;
    width: 40%;
    
}

.expo{

    font-family: 'DNY';
    color: #ffff;
    font-size: 20px;
    line-height: 50px;
    padding: 0 10px;

}


.box-principal{

    width: 80%;
    height: 500px;
    background-color: rgb(0, 119, 255);
    margin-left: 10%;
    margin-top: 5%;
    border-radius: 15px;
    position: relative;

}

.text-area{

    width: 60%;
    height: 90%;
    vertical-align: top;
    display: inline-block;
    background-color: #ffff;
    margin-left: 2%;
    margin-top: 3%;

}

#txtinput{

    margin-top: 5%;
    width: 90%;
    height: 40%;
    margin-left: 5%;
    border: none;
    text-align: center;
    outline: 0;
    text-align: center;
    font-size: 20px;
    background-color: rgb(238, 238, 238);
    max-height: 93px;
    max-width: 169px;
    min-width: 90%;
    min-height: 40%;

}

#txtinput::placeholder{

    font-size: 20px!important;
    font-weight: 700!important;
}


.media{
    
    height:30%;
    width: 90%;
    margin-left: 2%;
    margin-top: 5%;
    
    
} 

#lin{

    margin-top: 10%;
    width: 100%;

}


#icons{

    position:absolute;
    margin-top: 2%;
    width: 50%;
   
}

#icons a{

    margin-left: 10%;
    
}

#signi_qrcode{

    font-size: 12px;
    font-family: 'Tiro Telugu', serif;

}

#signi_qrcode::before{

    color: red;
}

#conect{

    font-size: 15px;
    font-family: Fantasy;
    color: rgb(134, 134, 134);
}


.expo_card{

    font-family: 'DNY';
    color: rgb(110, 110, 110);
    font-size: 20px;
    line-height: 80px;
    margin: 0 0px;
    
}

.qr_image_dowload{

    width: 36%;
    height: 90%;
    background-color: #ffff;
    display: inline-block;
    margin-top: 3%;

}

#QRCodeImage{

    position: absolute;
    width: 70px;
    height: 70px;

}

.bttn-gerar{

    width: 90%;
    margin-left: 5%;
    height: 10%;
    background-color: rgb(0, 140, 255);
    border: none;
    border-radius: 2%;
    cursor: pointer;
    color: #ffff;
    font-size: 15px;

}


.bttn-gerar:hover{

    background-color: rgb(43, 86, 121);
    
}



#txtQrcode{

    font-family: 'Lato', sans-serif;
    font-size: 20px;
   
}


.imgQR{

    margin-top: 2%;
    margin-left: 20%;
    width: 15px;
    height: 15px;
}

.txtQRcode{

    margin-top: 12%;
    margin-left: 20%;
    background-color: rgb(202, 202, 202);
    width: 60%;
    text-align: center;
}






}

